<main>
  <!-- DAY OF THE WEEK -->
  <!-- <div class="days">
  
    <div class="day">
      <p class="sunday">sunday</p>
    </div>

    <div class="day">
      <p class="monday">monday</p>
    </div>

    <div class="day">
      <p class="tuesday">tuesday</p>
    </div>

    <div class="day">
      <p class="wednesday">wednesday</p>
    </div>

    <div class="day">
      <p class="thursday">thursday</p>
    </div>

    <div class="day">
      <p class="friday">friday</p>
    </div>

    <div class="day">
      <p class="saturday">saturday</p>
    </div>

  </div> -->
  <!-- CLOCK -->
  <div class="clock">
    <!-- HOUR -->
    <div class="numbers">
      <p class="hours">
        {{time.format('hh')}}
      </p>
      <p class="placeholder">88</p>
    </div>

    <div class="colon">
      <p>:</p>
    </div>

    <!-- MINUTE -->
    <div class="numbers">
      <p class="minutes">
        {{time.format('mm')}}
      </p>
      <p class="placeholder">88</p>
    </div>

    <div class="colon">
      <p>:</p>
    </div>

    <!-- SECOND -->
    <div class="numbers">
      <p class="seconds">
        {{time.format('ss')}}
      </p>
      <p class="placeholder">88</p>
    </div>
    
    <!-- AM / PM -->
    <div class="am-pm">

      <!-- AM -->
      <div>
        <p class="am" [class.light-on]="time.format('a')=='am'">am</p>
      </div>

      <!-- PM -->
      <div>
        <p class="pm" [class.light-on]="time.format('a')=='pm'">pm</p>
      </div>
    </div>

  </div><!-- END CLOCK -->

</main>