<div class="outer-wrapper">
  <div class="wrapper"
       [style.width]="wrapperWidth + 'px'"
       style="overflow-x: hidden;"
  >

    <div [style.width]="wrapperWidth + 'px'" [style.height]='innerHeight + "px"' [style.background]="'url(assets/Muhannadonia.png)'" [style.background-size]="'contain'" style="position: absolute; z-index: -1000;">

    </div>

    <div *ngFor="let slide of slides, let i=index" 
        class="slide"
        [style.width]=" slide.width +'px'"
        [style.background]="slide.photoUrl"
        [style.background-size]="slide.width + 'px 100vh'"
    >
      <div style="position: relative;"
           [style.margin-top]="slide.markerMarginTop + 'px'"
           [style.margin-left]="slide.markerMarginLeft + 'px'"    
      >
        <div class="marker" style="cursor: pointer; width: 50px; text-shadow:1px 1px 0 #444"
             (click)="showModalSmoothly(slide.marker)"
             [title] = 'slide.marker'
        >
          <i class="fa fa-map-marker w3-text-red w3-jumbo" aria-hidden="true"></i>
          <span class="w3-xlarge w3-text-red w3-white w3-opacity" style="position: relative; left: -25px">
            <br><b>{{slide.marker}}</b>
          </span>
        </div>
        <div></div>
        
      </div>
      
    </div>

    <div class="sky" style="z-index: 10;">
      <div *ngFor="let i of [1,2,3,4,5,6,7,8,9,10,11,12,13,14]" [id]="'cloud' + i" class="cloud" [ngStyle]="{'background-image': 'url(assets/cloud.png)'}"></div>
    </div>

  </div>
</div>

<!-- The Modal -->
<div class="w3-modal" *ngIf="showModal" style="padding-top: 0; display: block;">
  <div class="w3-modal-content" style="width: 80%;" [style.top]="modalTop + '%'"
       [ngClass]="{'w3-light-gray': selectedMarker == 'Credits'}"
  >
    <div class="w3-container">

      <div class="w3-row-padding">
        <span (click)="showModal = false; selectedExperience= null;"
              class="w3-button w3-display-topright"
        >
          &times;
        </span>
      </div>
      
      <div class="w3-row-padding w3-margin w3-center">

        <div class="w3-col l5 m12 s12">
          <div class="">
            <img [src]="'assets/' + selectedMarker + '.png'"
               style="max-width: 100%; max-height: 50vh;"
            >
          </div>
        </div>

        <div class="w3-col l7 m12 s12">

          <div *ngIf="selectedMarker == 'Welcome'" class="w3-serif w3-margin-top">
            <div class="w3-xxlarge">
              <div class="w3-hide-medium w3-hide-small">
                <br>
              </div>
              <div class="w3-padding-small">
                <i>Welcome to <b>Muhannadonia</b>...</i>
              </div>
              <div class="w3-padding-small">
                <i>Feel free to explore my town..</i>
              </div>
            </div>
            <div class="w3-xlarge">
              <p><i>
                <b>Hint:</b> Click on the red markers 
                <i class="fa fa-map-marker w3-text-red" aria-hidden="true"></i>
              </i></p>
            </div>
          </div>

          <div *ngIf="selectedMarker == 'Skills'" class="w3-row-padding w3-margin">
            <div class="w3-row w3-margin-bottom w3-left-align w3-small" *ngFor="let skill of data.skills">
              <h6>
                <span *ngFor="let icon of skill.icons">
                  <i [class]='icon'></i>
                </span>
                {{skill.name}}
              </h6>
              <div class="w3-light-grey w3-small">
                <div class="w3-container w3-red w3-center" [style.width]="skill.value + '%'">
                  {{skill.value}}%
                </div>
              </div>
            </div>
          </div>

          <div *ngIf="selectedMarker == 'Education'" class="w3-row-padding w3-margin-top">
            
            <div class="w3-card-4 w3-brown w3-padding">
              <div class="w3-container w3-orange w3-padding-32 noise w3-row-padding">

                <div *ngFor="let study of data.studies" class="w3-col l6">
                  <div class="w3-card-4 w3-pale-yellow w3-margin-bottom w3-padding" style="transform: rotate(3deg);">

                    <div class="w3-row">

                      <div class="w3-row w3-center w3-margin-bottom">
                        <i class="fa fa-circle w3-text-red w3-shadow w3-xlarge" aria-hidden="true"></i>
                      </div>

                      <div class="w3-col l12 m4 s12 w3-margin-bottom">
                        <a *ngFor="let place of study.places" [href]="place.link">
                          <img [src]="place.imageUrl" [title]="place.name" [alt]="place.name" class="w3-image w3-padding w3-white w3-border" style="max-height: 100px; width: auto;">
                        </a> 
                      </div>
                      
                      <div class="w3-col l12 m8 s12 ">
                        <div class="w3-row">
                          <b>{{study.title}}</b>
                        </div>
                        <br>
                        <div class="w3-row">
                          {{study.description}}
                        </div>
                        <div class="w3-row">
                          <span *ngIf="!study.to">Since {{study.from}} </span>
                          <span *ngIf="study.to"> From {{study.from}}  to {{study.to}}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
          </div>

          <div *ngIf="selectedMarker == 'Work'" class="">
            <div class='w3-row-padding'>
              <div *ngFor="let experience of data.experiences" class="w3-margin">
                <div class="w3-col s3 w3-container">
                  <a href="javascript:void(0)" class="w3-hover-opacity" (click)="selectedExperience = null; selectedExperience = experience;">
                    <img [src]="'assets/' + experience.title + '.png'" [alt]="experience.title" class="w3-margin-bottom"  style="width:100%">
                  </a>
                </div>
              </div>
            </div>
            <div class="w3-card-4 w3-row w3-margin-bottom w3-animate-zoom" *ngIf="selectedExperience != null">
              <div class="w3-col l4">
                <a *ngFor="let place of selectedExperience.places" [href]="place.link">
                  <img [src]="place.imageUrl" [title]="place.name" [alt]="place.name" [ngClass]="{'w3-circle': place.circle}" class="w3-margin-top" style="height:100px;">
                </a> 
              </div>
              <div class="w3-col l8">
                <div class="w3-margin w3-left-align">
                  <h3>{{selectedExperience.title}}</h3>
                  @ 
                  <span *ngFor="let place of selectedExperience.places, let places_index = index">
                    <a [href]="place.link">{{place.name}}</a>
                    <span *ngIf="places_index!=(selectedExperience.places.length-1)">, </span>
                    <span *ngIf="places_index==(selectedExperience.places.length-1)">. </span>
                  </span>
                  <br>
                  {{selectedExperience.description}}
                  <br>
                  <b>
                    <span *ngIf="!selectedExperience.to">Since {{selectedExperience.from}} </span>
                    <span *ngIf="selectedExperience.to"> From {{selectedExperience.from}}  to {{selectedExperience.to}}</span>
                  </b>
                </div>
              </div>
            </div>
          </div>

          <div *ngIf="selectedMarker == 'Contact'" class="w3-row-padding w3-margin-top">
            <div *ngFor="let contactDetail of data.contactDetails" class="w3-row w3-text-black w3-margin" style="overflow-wrap: break-word;">
              <span class="w3-margin-right">
                <i [class]="contactDetail.icon"></i>
              </span>
              <span>
                 {{contactDetail.detail}}
              </span>
              <span class="w3-margin-left">
                <i [class]="contactDetail.icon"></i>
              </span>
              <br>
            </div>
          </div>

          <div *ngIf="selectedMarker == 'Credits'" class="w3-row-padding w3-margin-top">
            <div class="w3-row w3-margin w3-padding w3-xlarge">
              Background was created using:
            </div>
            <div class="w3-row w3-margin w3-padding">
              <a href="https://icograms.com">
                <img src="https://icograms.com/images/logo.svg" [alt]="icogram" style="height:100px;">
              </a> 
            </div>
            
            <hr style="border-top: 1px dashed black;">

            <div class="w3-row w3-margin w3-padding w3-xlarge">
              Cartoons were created using:
            </div>
            <div class="w3-row w3-margin w3-padding">
              <a href="https://www.bitmoji.com/">
                <img src="https://www.bitmoji.com/img/0e2df681.logo-home.cache.png" [alt]="Bitmoji" style="height:100px;">
              </a>              
            </div>
          </div>

          
        </div>

      </div>
    </div>
  </div>
</div>

<div style='position: fixed; right: 0; bottom: 0;'>
  <div class="w3-container w3-button w3-round w3-white w3-opacity"
       (click)="showModalSmoothly('Credits')"
  >
    <b>Credits</b>
  </div>
</div>

<div style='position: fixed; left: 0; top: 0;'>
  <div class="w3-container w3-button w3-round w3-white w3-opacity">
    <a href="./"><i class="fa fa-home"></i></a>
  </div>
</div>




<audio autoplay loop style='display: none'>
  <source src="assets/Village-ambience.mp3" type="audio/mpeg">
</audio>