<div class="outer-wrapper">
  <div class="wrapper"
       [style.width]="wrapperWidth + 'px'"
  >

    <div *ngFor="let slide of slides, let i=index" 
        class="slide"
        [style.width]=" slide.width +'px'"
        [style.background]="slide.photoUrl"
        [style.background-size]="slide.width + 'px 100vh'"
    >
      <div class="marker w3-text-red w3-jumbo" 
           [style.margin-top]="slide.markerMarginTop + 'px'"
           [style.margin-left]="slide.markerMarginLeft + 'px'"
           (click)="showModal = true"
      >
        <i class="fa fa-map-marker" aria-hidden="true"></i>
      </div>
    </div>

  </div>
</div>

<!-- The Modal -->
<div class="w3-modal" [style.display]="showModal? 'block':'none'">
  <div class="w3-modal-content">
    <div class="w3-container">
      <span (click)="showModal = false"
             class="w3-button w3-display-topright"
      >
        &times;
      </span>
      <div class="w3-container w3-padding w3-row-padding">

        <div class="w3-col l4">

          <img src="../../assets/Welcome.png">
        </div>

        <div class="w3-col l8">
          
        </div>

      </div>
    </div>
  </div>
</div>