.outer-wrapper 
{
    width: 100vh;
    height: 100vw;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

::-webkit-scrollbar 
{
    display:none;
}

.wrapper 
{
    display: flex;
    flex-direction: row;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
}

.slide 
{
    height: 100vh;
    background-repeat: no-repeat;
    overflow: hidden;
}


.horizontal-container
{
    display: flex;    overflow-x: auto;
}

.marker :hover
{
    transform: scale(1.2);
}

/* -------------------------------------------------------- */
/* -------------------------------------------------------- */
/* -------------------------------------------------------- */
/* -------------------------------------------------------- */


.sky 
{
    /* overflow: hidden;
    position: relative;
    background: #C6D9E8;
    background: -webkit-linear-gradient(top, #C6D9E8 0%, #fff 100%);
    background: -linear-gradient(top, #C6D9E8 0%, #fff 100%);
    background: -moz-linear-gradient(top, #C6D9E8 0%, #fff 100%); */
    height: 25%;
}

.cloud {
    position: absolute;
    background-image: url('/assets/cloud.png');
    background-repeat: no-repeat;
    width: 176px;
    height: 114px;
    opacity: 0.7;
    margin-top: 2%;
}

#cloud1 {
    top: 40px;
    left: 400px;
    -webkit-animation: movingclouds 160s linear infinite;
    -moz-animation: movingclouds 160s linear infinite;
    -o-animation: movingclouds 160s linear infinite;
}

#cloud2 {
    top: 10px;
    left: 600px;
    -webkit-animation: movingclouds 80s linear infinite;
    -moz-animation: movingclouds 80s linear infinite;
    -o-animation: movingclouds 80s linear infinite;
}

#cloud3 {
    top: 100px;
    left: 100px;
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0.9; 
    -webkit-animation: movingclouds 60s linear infinite;
    -moz-animation: movingclouds 60s linear infinite;
    -o-animation: movingclouds 60s linear infinite;
}

#cloud4 {
    top: -20px;
    left: 40px;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.8; 
    -webkit-animation: movingclouds 40s linear infinite;
    -moz-animation: movingclouds 40s linear infinite;
    -o-animation: movingclouds 40s linear infinite;
}

#cloud5 {
    top: 100px;
    left: 500px;
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
    opacity: 0.7; 
    -webkit-animation: movingclouds 50s linear infinite;
    -moz-animation: movingclouds 50s linear infinite;
    -o-animation: movingclouds 50s linear infinite;
}

#cloud6 {
    top: 20px;
    left: 200px;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 0.5; 
    -webkit-animation: movingclouds 54s linear infinite;
    -moz-animation: movingclouds 54s linear infinite;
    -o-animation: movingclouds 54s linear infinite;
}

#cloud7 {
    top: 92px;
    left: 700px;
    -webkit-transform: scale(0.4);
    -moz-transform: scale(0.4);
    -ms-transform: scale(0.4);
    transform: scale(0.4);
    opacity: 0.4; 
    -webkit-animation: movingclouds 60s linear infinite;
    -moz-animation: movingclouds 60s linear infinite;
    -o-animation: movingclouds 60s linear infinite;
}


@keyframes movingclouds {
    0% {margin-left: 100%;}
    100% {margin-left: -150%;}
}
@-webkit-keyframes movingclouds {
    0% {margin-left: 100%;}
    100% {margin-left: -150%;}
}
@-moz-keyframes movingclouds {
    0% {margin-left: 100%;}
    100% {margin-left: -150%;}
}