<div class="outer-wrapper">
  <div class="wrapper"
       [style.width]="wrapperWidth + 'px'"
  >

    <div *ngFor="let slide of slides, let i=index" 
        class="slide"
        [style.width]=" slide.width +'px'"
        [style.background]="slide.photoUrl"
        [style.background-size]="slide.width + 'px 100vh'"
    >
      <div style="position: relative;"
           [style.margin-top]="slide.markerMarginTop + 'px'"
           [style.margin-left]="slide.markerMarginLeft + 'px'"    
      >
        <div class=" w3-jumbo" style="cursor: pointer; width: 37px; text-shadow:1px 1px 0 #444"
             (click)="showModalSmoothly(slide.marker)"
        >
          <i class="fa fa-map-marker w3-text-red" aria-hidden="true"></i>
          <!-- <span class="w3-xxlarge w3-text-white">
            <b>{{slide.marker}}</b>
          </span> -->
        </div>
        <div></div>
        
      </div>
      
    </div>

  </div>
</div>

<!-- The Modal -->
<div class="w3-modal" *ngIf="showModal" style="padding-top: 0; display: block;">
  <div class="w3-modal-content" style="width: 80%;" [style.top]="modalTop + '%'">
    <div class="w3-container">
      <span (click)="showModal = false; selectedExperience= null;"
             class="w3-button w3-display-topright"
      >
        &times;
      </span>
      <div class="w3-row-padding w3-center">

        <div class="w3-row">
          <div class="">
            <img [src]="'assets/' + selectedMarker + '.png'"
               style="width: 30%;"
            >
          </div>
        </div>

        <div class="w3-row">

          <div *ngIf="selectedMarker == 'Welcome'" class="w3-serif w3-margin-top">
            <div class="w3-xxlarge">
              <div class="w3-padding-small">
                <i>Welcome to <b>Muhannadonia</b>...</i>
              </div>
              <div class="w3-padding-small">
                <i>Feel free to explore my town..</i>
              </div>
            </div>
            <div class="w3-large">
              <p><i>
                <b>Hint:</b> Click on the red markers
              </i></p>
            </div>
          </div>

          <div *ngIf="selectedMarker == 'Skills'" class="w3-row-padding w3-margin">
            <div class="w3-col l6 w3-left-align w3-small" *ngFor="let skill of data.skills">
              <p>
                <span *ngFor="let icon of skill.icons">
                  <i [class]='icon'></i>
                </span>
                {{skill.name}}
              </p>
              <div class="w3-light-grey w3-small">
                <div class="w3-container w3-green w3-center" [style.width]="skill.value + '%'">
                  {{skill.value}}%
                </div>
              </div>
            </div>
          </div>

          <div *ngIf="selectedMarker == 'Education'" class="w3-row-padding w3-margin-top">
            <div *ngFor="let study of data.studies" class="w3-col l6 m6">
              <div class="w3-card-4 w3-margin-bottom w3-padding-small">
                <div class="w3-row">
                  <div class="w3-col l4 w3-padding">
                    <a *ngFor="let place of study.places" [href]="place.link">
                      <img [src]="place.imageUrl" [title]="place.name" [alt]="place.name" [ngClass]="{'w3-circle': place.circle}" style="height:80px;">
                    </a> 
                  </div>
                  <div class="w3-col l8">
                    <div class="w3-row w3-margin-top">
                      <b>{{study.title}}</b>
                    </div>
                    <div class="w3-row">
                      {{study.description}}
                    </div>
                    <div class="w3-row">
                      <span *ngIf="!study.to">Since {{study.from}} </span>
                      <span *ngIf="study.to"> From {{study.from}}  to {{study.to}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div *ngIf="selectedMarker == 'Work'" class="">
            <div class='w3-row-padding'>
              <div *ngFor="let experience of data.experiences" class="w3-margin">
                <div class="w3-col s3 w3-container">
                  <a href="javascript:void(0)" class="w3-hover-opacity" (click)="selectedExperience = null; selectedExperience = experience;">
                    <img [src]="'assets/' + experience.title + '.png'" [alt]="experience.title" class="w3-margin-bottom"  style="width:100%">
                  </a>
                </div>
              </div>
            </div>
            <div class="w3-card-4 w3-row w3-margin-bottom w3-animate-zoom" *ngIf="selectedExperience != null">
              <div class="w3-col l4">
                <a *ngFor="let place of selectedExperience.places" [href]="place.link">
                  <img [src]="place.imageUrl" [title]="place.name" [alt]="place.name" [ngClass]="{'w3-circle': place.circle}" class="w3-margin-top" style="height:100px;">
                </a> 
              </div>
              <div class="w3-col l8">
                <div class="w3-margin w3-left-align">
                  <h3>{{selectedExperience.title}}</h3>
                  @ 
                  <span *ngFor="let place of selectedExperience.places, let places_index = index">
                    <a [href]="place.link">{{place.name}}</a>
                    <span *ngIf="places_index!=(selectedExperience.places.length-1)">, </span>
                    <span *ngIf="places_index==(selectedExperience.places.length-1)">. </span>
                  </span>
                  <br>
                  {{selectedExperience.description}}
                  <br>
                  <b>
                    <span *ngIf="!selectedExperience.to">Since {{selectedExperience.from}} </span>
                    <span *ngIf="selectedExperience.to"> From {{selectedExperience.from}}  to {{selectedExperience.to}}</span>
                  </b>
                </div>
              </div>
            </div>
          </div>

          <div *ngIf="selectedMarker == 'Contact'" class="w3-row-padding w3-margin-top">
            <div *ngFor="let contactDetail of data.contactDetails" class="w3-row w3-text-black" style="overflow-wrap: break-word;">
              <span class="w3-margin-right">
                <i [class]="contactDetail.icon"></i>
              </span>
              <span>
                 {{contactDetail.detail}}
              </span>
              <span class="w3-margin-left">
                <i [class]="contactDetail.icon"></i>
              </span>
              <br>
            </div>
          </div>

          
        </div>

      </div>
    </div>
  </div>
</div>