<body class="w3-black">
<!-- Icon Bar (Sidebar - hidden on small screens) -->
<nav class="w3-sidebar w3-bar-block w3-small w3-hide-small w3-center blueGreyTransparentBackColor">
  <!-- Avatar image in top left corner -->
  <img [src]='data.contactSmallDarkPhotoUrl' style="width:100%" class="">
  <a href="./" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-home w3-xxlarge"></i>
    <p>HOME</p>
  </a>
  <a href="./darkTheme#about" [class.w3-black]="currentActive === 2" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-user w3-xxlarge"></i>
    <p>ABOUT</p>
  </a>
  <a href="./darkTheme#work" [class.w3-black]="currentActive === 3" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-th w3-xxlarge"></i>
    <p>WORK</p>
  </a>
  <a href="./darkTheme#education" [class.w3-black]="currentActive === 4" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-book w3-xxlarge"></i>
    <p>EDUCATION</p>
  </a>
  <a href="./darkTheme#contact" [class.w3-black]="currentActive === 5" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-envelope w3-xxlarge"></i>
    <p>CONTACT</p>
  </a>
</nav>

<!-- Navbar on small screens (Hidden on medium and large screens) -->
<div class="w3-top w3-hide-large w3-hide-medium blueGreyTransparentBackColor" id="myNavbar" >
  <div class="w3-bar w3-black w3-opacity w3-hover-opacity-off w3-center w3-small">
    <a href="./" class="w3-bar-item w3-button" style="width:20% !important">HOME</a>
    <a href="./darkTheme#about"     [class.w3-light-grey]="currentActive === 2"  class="w3-bar-item w3-button" style="width:20% !important">ABOUT</a>
    <a href="./darkTheme#work"      [class.w3-light-grey]="currentActive === 3"  class="w3-bar-item w3-button" style="width:20% !important">WORK</a>
    <a href="./darkTheme#education" [class.w3-light-grey]="currentActive === 4"  class="w3-bar-item w3-button" style="width:20% !important">EDUCATION</a>
    <a href="./darkTheme#contact"   [class.w3-light-grey]="currentActive === 5"  class="w3-bar-item w3-button" style="width:20% !important">CONTACT</a>
  </div>
</div>



<!-- Page Content -->
<div class="" id="main">

  <!-- Header -->
  <header class="w3-display-container w3-center w3-black" id="home">
    <img [src]='data.contactDarkPhotoUrl' class="w3-image w3-grayscale-max" alt="boy" width="100%">
    <div class="w3-display-topleft w3-container w3-padding-small">
      <h1 class="w3-jumbo"><span class="w3-hide-medium w3-hide-small">I'm {{data.fullName}}</span></h1>
      <span class="w3-hide-small"><p>{{data.aboutMe_short}}</p></span>
    </div>
  </header>

  <!-- About Section -->
  <div class="w3-content w3-justify w3-text-grey w3-padding-16" id="about" #about>

    <div class=" w3-container w3-margin w3-round-large blueGreyTransparentBackColor">
      <header class="w3-text-white w3-center">
        <h1><b>{{data.fullName}}</b></h1>
      </header>
      
      <p>
        <span class="w3-text-white" *ngFor="let item of data.aboutMe_long">
          {{item}}
          <br>
        </span>
      </p>
    </div>
  

    <div class="w3-container w3-margin w3-padding w3-round-large blueGreyTransparentBackColor">
      <header class="w3-text-white w3-center w3-margin">
        <h1><b>My Skills</b></h1>
      </header>
      
      <div class="w3-text-white" *ngFor="let skill of data.skills">
        <div class="w3-margin">

          <div class="w3-row w3-hide-large">
            <span class="w3-large" *ngFor="let icon of skill.icons">
              <i [class]='icon'></i>&nbsp;
            </span>
            {{skill.name}}
          </div>          
        
          <div class="w3-row w3-theme-d3 w3-round-large">
            <div class="w3-theme-l2 w3-padding w3-round-large" [style.width]="skill.value + '%'">
              <span class="w3-large w3-hide-medium w3-hide-small" *ngFor="let icon of skill.icons">
                <i [class]='icon'></i>&nbsp;
              </span>
              <span class="w3-large w3-hide-medium w3-hide-small w3-margin-right">
                {{skill.name}}
              </span>
            </div>
          </div>

        </div>
      </div>
    </div>
       
    <br>

    <!-- <button class="w3-button w3-light-grey w3-padding-large w3-section">
      <i class="fa fa-download"></i> Download Resume
    </button> -->
  
  <!-- End About Section -->
  </div>
    
  <!-- Grid for work tables -->
  <div class="w3-content" id="work" #work>

    <div class="w3-container w3-margin w3-padding w3-round-large blueGreyTransparentBackColor">
      <header class="w3-text-white w3-center w3-margin">
        <h1><b>My Work</b></h1>
      </header>

      <div class="w3-row-padding">

        <div *ngFor="let experience of data.experiences" class="w3-col l6">
          <div class="w3-card-4 w3-round-large w3-margin-bottom w3-text-white w3-center w3-theme-d4">
            <header class="w3-container w3-padding blueGreyTransparentBackColor" style="border-radius: 8px 8px 0px 0px;">
              <div class="w3-margin">
                <a *ngFor="let place of experience.places" [href]="place.link">
                  <img [src]="place.imageUrl" [title]="place.name" [alt]="place.name" class="w3-image w3-white w3-round-xlarge" style="height:100px; margin: 0 3px; padding: 1px;" [style.max-width]="100/experience.places.length + '%'">
                </a> 
              </div>
            </header>
            <div class="w3-container">
              <h4><b>{{experience.title}}</b></h4>
              <i>@ 
                <span *ngFor="let place of experience.places, let places_index = index">
                  <a [href]="place.link">{{place.name}}</a>
                  <span *ngIf="places_index!=(experience.places.length-1)">, </span>
                </span>
              </i>
              <div>
                <p>
                  {{experience.description}}
                </p>
              </div>
            </div>
            <footer class="w3-padding-small blueGreyTransparentBackColor"  style="border-radius: 0px 0px 8px 8px;">
              <span *ngIf="!experience.to">Since {{experience.from}} </span>
              <span *ngIf="experience.to"> From {{experience.from}}  to {{experience.to}}</span>
            </footer>
          </div>
        </div>
  
      <!-- End Grid of work tables -->
      </div>

    </div> 
    

  </div>
  
  <!-- Education -->
  <div class="w3-content w3-padding-16" id="education" #education>
    
    <div class="w3-container w3-margin w3-padding w3-round-large blueGreyTransparentBackColor">
      <header class="w3-text-white w3-center">
        <h1><b>My Education</b></h1>
      </header>

      <div class="w3-row-padding">

        <div *ngFor="let study of data.studies" class="w3-col l6">
          <div class="w3-card-4 w3-round-large w3-margin-bottom w3-text-white w3-center w3-theme-d4">
            <header class="w3-container w3-padding blueGreyTransparentBackColor" style="border-radius: 8px 8px 0px 0px;">
              <div class="w3-margin">
                <a *ngFor="let place of study.places" [href]="place.link">
                  <img [src]="place.imageUrl" [title]="place.name" [alt]="place.name" class="w3-image w3-white w3-round-xlarge" style="height:100px; margin: 0 3px; padding: 5px;"  [style.max-width]="100/study.places.length + '%'">
                </a> 
              </div>
            </header>
            <div class="w3-container">
              <h4><b>{{study.title}}</b></h4>
              <div>
                <p>
                  {{study.description}}
                </p>
              </div>
            </div>
            <footer class="w3-padding-small blueGreyTransparentBackColor" style="border-radius: 0px 0px 8px 8px;">
              <span *ngIf="!study.to">Since {{study.from}} </span>
              <span *ngIf="study.to"> From {{study.from}}  to {{study.to}}</span>
            </footer>
          </div>
        </div>
  
      <!-- End Grid of work tables -->
      </div>

    </div>
    
  </div>
  

  

  <!-- Contact Section -->
  <div class="w3-content w3-justify w3-padding-16 w3-text-grey" id="contact" #contact>
    <div class="w3-container w3-margin w3-padding w3-round-large blueGreyTransparentBackColor">
      <header class="w3-text-white w3-center w3-margin-bottom">
        <h1><b>Contact Me</b></h1>
      </header>

      <div class="w3-row" *ngFor="let contactDetail of data.contactDetails">

        <div class="w3-col l3 m2 s1 w3-margin-bottom">
          <div class="w3-row w3-text-white w3-large">
            <span class="w3-right">
              <i [class]="contactDetail.icon"></i>
            </span>
          </div> 
        </div>

        <div class="w3-col l6 m8 s10 w3-margin-bottom w3-center">
          <div  class="w3-row w3-text-white w3-large"
                style="overflow-wrap: break-word;"
          >
            <span>
              <a [href]="contactDetail.link">
                <b>{{contactDetail.detail}}</b>
              </a> 
            </span>
          </div>
        </div>
  
        <div class="w3-col l3 m2 s1 w3-margin-bottom">
          <div class="w3-row w3-text-white w3-large">
            <span class="w3-left">
              <i [class]="contactDetail.icon"></i>
            </span>
          </div> 
        </div>

      </div>     
      
      
    </div>

    <div class="w3-row w3-center w3-margin">
      <div class="w3-button w3-xlarge w3-dark-grey">
        <a href="assets/CV.pdf" style="text-decoration: none;">
          <i class="fa fa-download" aria-hidden="true"></i>
          &nbsp;Download&nbsp;
          <i class="fa fa-download" aria-hidden="true"></i>
        </a>
      </div>
    </div>
    
  <!-- End Contact Section -->
  </div>

<!-- END PAGE CONTENT -->



</div>
</body>