.w3-full-center
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.w3-background-with-opacity
{
    background-color: #1f557cb6;
}

.splash-screen
{
    position: absolute;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    transition: height 1s;
    background-image: linear-gradient(-45deg, #0062c4, #00afff);
}

.show-splash
{
    height: 100vh;
}

.hide-splash
{
    height: 0vh;
}

.splash-screen-content
{
    position: absolute;
    top: 45%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.circle 
{
    height: 50px;
    width: 50px;
    background-color: rgba(255, 255, 255, 0.767);
    color: indigo;
    border-radius: 50%;
    
}

.box-shadow
{
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.6);
}

.text-shadow
{
    text-shadow:2px 2px 0 #444;
}

.zero-opacity
{
    opacity: 0;
}

.app-shortcut
{
    width: 80px; 
    height: 80px; 
    cursor: pointer;
}

.app
{
    position: absolute !important;
    z-index: 1000000;
    width: 0; 
    height: 0;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    transition: width 0.5s, height 0.5s, background-color 0.1s;
}

.app-open
{
    width: 100vw;
    height: 100vh;
}

.app-content
{
    position: absolute !important;
    z-index: 1000000;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.blank
{
    background-color: #ffffff10;
}

.cp-morph 
{
    width: 48px;
    height: 48px;
    display: inline-block;
    box-sizing: border-box;
    background: var(--colorLeft);
    animation: cp-morph-animate 1s linear infinite;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: cp-morph-animate;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}



.cp-spinner 
{
    width: 48px;
    height: 48px;
    display: inline-block;
    box-sizing: border-box;
    position: relative;
}

@keyframes cp-morph-animate
{
    0% 
    {
        transform: rotate(0) scale(1);
        border-radius: 0;
        background: var(--colorRight);
    }

    25%, 75% 
    {
        transform: rotate(180deg) scale(.4);
        border-radius: 50%;
        background: var(--colorLeft);
    }
    100% 
    {
        transform: rotate(360deg) scale(1);
        border-radius: 0;
        background: var(--colorRight);
    }
}


.blinking 
{
    animation-name: blink;
    animation-duration: 0.7s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
  
@keyframes blink 
{
    from {opacity: 0.2;}
    to {opacity: 1;}
}

.bouncing 
{
    animation-name: bounce;
    animation-duration: 1.7s;
    animation-direction: alternate;
    transition-timing-function: ease-out;
    animation-iteration-count: infinite;
}

@keyframes bounce 
{
    0% {margin-bottom: 0;}
    50% {margin-bottom: 50px;}
}