<div style="width: 100vw; height: 100vh; background-image: url(assets/material-background.png); background-size: cover; position: absolute; z-index: -5;">

  <div class="w3-row w3-top">

    <div class="w3-container w3-center w3-light-grey w3-opacity" style="cursor: pointer;" (click)="showSplashScreen()">
      Welcome
    </div>
  </div>

  <div class="w3-row" style="height: 25px; opacity: 0;">
    .
  </div>

  <div class="w3-row">

    <div class="w3-col l3 m2 s12" style="opacity: 0;">.</div>

    <div class="w3-col l6 m8 s12">

      <div class="w3-card-4 w3-margin w3-background-with-opacity w3-full-center">
        <app-digitalClock></app-digitalClock>
      </div>

      <div class="w3-card-4 w3-margin">
        <!-- weather widget start -->
        <a  class="weatherwidget-io" style="opacity: 0.75 !important;"
            href="https://forecast7.com/en/33d5136d28/damascus/" 
            data-label_1="DAMASCUS" 
            data-label_2="WEATHER" 
            data-days="4" 
            data-theme="original" 
        >
          DAMASCUS WEATHER
        </a>
        <!-- weather widget end -->
      </div>

      
    </div>

    <div class="w3-col l3 m2 s12" style="opacity: 0;">.</div>

  </div>

  <div class="w3-row">

    <div class="w3-row w3-bottom">

      <div *ngFor="let theme of data.themes" class="w3-col s3 w3-center w3-margin-bottom" >
        <div class="w3-row">
          <div class="w3-full-center">
            <div [class]="'w3-card-4 app-shortcut w3-margin w3-full-center w3-text-white w3-center w3-' + theme.color"
                  (click)="openApp(theme)"                  
            >
              <i class="material-icons" style="font-size:48px;">
                {{theme.icon}}
              </i>
            </div>
          </div>
        </div>
        <div class="w3-row">
          <div class="w3-full-center w3-text-white">
            <b>
              {{theme.name}}
            </b>
          </div>
        </div>
        
        
        
      </div>
    </div>

  </div>
  

</div>

<div class="splash-screen" [class.show-splash]="splashScreen" [class.hide-splash]="!splashScreen">
  
  <div style="margin-top: 10vw;" [class.w3-hide]="!splashScreenContent">

    <div class="w3-row w3-full-center">

      <div class="w3-container w3-margin">
        <img [src]="data.contactHomePhotoUrl" class="w3-round-large box-shadow" style="width: 175px; height: 175px;">
      </div>
      
    </div>
    
    <div class="w3-row w3-xxlarge zero-opacity">
      .
    </div>

    <div class="w3-row w3-xxlarge w3-text-white w3-full-center">
      Welcome to my CV
    </div>
    <div class="w3-row w3-xlarge w3-center w3-margin-top w3-text-white">
      Check inside for details
    </div>

    <div class="w3-row w3-xxlarge zero-opacity">
      .
    </div>

    <div class="w3-row w3-xlarge w3-center w3-bottom">
      <div class="w3-margin-bottom w3-full-center">
        <div class="circle box-shadow w3-full-center" style="cursor: pointer;" (click)="hideSplashScreen()">
          <i class="material-icons">
            lock_open
          </i>
        </div>
      </div>
      
    </div>
            
  </div>

  

  
</div>

<div [class]="'w3-container app blank ' + appToOpenColor" [class.app-open]='appToOpen != null' style="">
  <div *ngIf="appToOpen != null">
    <div class="w3-text-white app-content">
      <div class="w3-row">
        <i class="material-icons" style="font-size:100px;">
          {{appToOpen.icon}}
        </i>
      </div>
      <div class="w3-row w3-margin w3-padding">
        <i class="fa fa-spinner w3-spin w3-large" aria-hidden="true">
        </i>
      </div>
    </div>
  </div>
</div>