<div class="w3-white w3-hover-light-gray w3-button" [routerLink]="['/lightTheme']" style="width: 50%; height: 50%; position: absolute; top: 0; left: 0;">
  <div class="w3-display-topleft w3-margin w3-padding" style="font-size: 2vw;">
    <div class="w3-marign w3-padding">
      <div class="w3-marign w3-padding">
        <div class="w3-marign w3-padding">
          <div class="w3-marign w3-padding">
            Stylish Light
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="w3-black w3-hover-dark-gray w3-button" [routerLink]="['/darkTheme']" style="width: 50%; height: 50%; position: absolute; top: 0; right: 0;">
  <div class="w3-display-topright w3-margin w3-padding" style="font-size: 2vw;">
    <div class="w3-marign w3-padding">
      <div class="w3-marign w3-padding">
        <div class="w3-marign w3-padding">
          <div class="w3-marign w3-padding">
            Minimalistic Dark
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>
<div class="w3-2018-valiant-poppy w3-hover-red w3-button" [routerLink]="['/colorsTheme']" style="width: 50%; height: 50%; position: absolute; bottom: 0; left: 0;">
  <div class="w3-display-bottomleft w3-margin w3-padding" style="font-size: 2vw;">
    <div class="w3-marign w3-padding">
      <div class="w3-marign w3-padding">
        <div class="w3-marign w3-padding">
          <div class="w3-marign w3-padding">
            Classic Colored
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="w3-indigo w3-hover-blue w3-button" [routerLink]="['/cartoonsTheme']" style="width: 50%; height: 50%; position: absolute; bottom: 0; right: 0;">
  <div class="w3-display-bottomright w3-margin w3-padding" style="font-size: 2vw;">
    <div class="w3-marign w3-padding">
      <div class="w3-marign w3-padding">
        <div class="w3-marign w3-padding">
          <div class="w3-marign w3-padding">
            Cartoonish Craze
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="w3-teal w3-hover-blue-gray" style="width: 50%; height: 50%; position: absolute; bottom: 25%; right: 25%;">
  <div class="w3-center">
    <img src="https://scontent-mrs2-1.xx.fbcdn.net/v/t1.0-9/s960x960/68425560_2358965387473534_3041670825137668096_o.jpg?_nc_cat=100&_nc_ohc=6THyQntN2vgAX_hhdTg&_nc_ht=scontent-mrs2-1.xx&_nc_tp=1002&oh=c3a83689c0b5bd42aabd75128249b2a5&oe=5E95D0FF" class="w3-circle w3-margin w3-border w3-padding-small w3-hover-grayscale" style="width: 25%;">
    <div class="w3-margin" style="font-size: 2vw;">
      Hello! 
      <br/>
      This is <b>Muhannad Al-Khodari</b>'s CV
      <br/>
      Please select a style :)
    </div>
  </div>
</div>